/* Colours */
/* Primary:   1a201a / 1f261f */
/* Secondary: 1CCAD8 */
/* Accent:    0CF574 */

/* General */

/* find unlabeled regex \{\n\s+[^/] */

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	transition: 0.2s all;
	font-family: 'Cabin', sans-serif;
	color: #1a201a;
}

a {
	text-decoration: none;
}

.svg {
	/* app.haikei.app is amazing 😘 */
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

h1.header::after {
	/* Header underline */
	transition: width 0.5s ease-in-out;
	display: block;
	content: '';
	width: 5rem;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
	position: absolute;
	height: 5px;
	background-color: #1a201a;
}

h1.header:hover::after {
	/* Header underline hover */
	border-radius: 3px;
	width: 90%;
}

/* Nav */

div#sticky {
	/* Sticky (I realized fixed exists but it breaks it) header outer div */
	z-index: 2;
	position: sticky;
	width: 100%;
	top: 0;
}

div#sticky > div#stickyContainer {
	/* The inside container for the header stuff */
	background-color: #1a201a;
	border-bottom: 5px solid #0cf574;
	position: absolute; /* so it wont take space */
	display: table;
	width: 100%;
	font-size: 2.6rem /*max(2.6rem, 16px)*/;
}

div#stickyContainer p {
	/* Nav name and link text */
	color: #1ccad8;
}

/* Name */

div#stickyContainer > div#namewrapper {
	/* The div that contains my name */
	font-weight: bolder;
	display: table-cell;
	vertical-align: middle;
	padding-left: 35px;
}

/* Buttons */

div#buttonContainer {
	/* Contains all the navigation buttons */
	display: table;
	float: right;
	padding: 2.5rem 0;
}

div#buttonContainer > div.wrapper {
	/* The individual nav button wrappers */
	display: table-cell;
}

div#buttonContainer > div.wrapper a {
	/* The link to each section */
	display: block;
	color: #1ccad8;
	padding: 8px 2.5vw;
	font-weight: bolder;
}

div#buttonContainer > div.wrapper a:hover {
	/* Change colour on hover */
	color: #0cf574;
}

/* Page 1 - Home */

/* Text box */

div#home {
	/* Home page */
	background-image: url('img/layered-waves-haikei-home.svg');
	height: 100vh; /* BUG this was calc(1+100vh) but I think I fixed the root cause*/
}

div#hometext {
	/* contains welcome text */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* width: 100%; */
}

div#hometext h2,
div#hometext p,
div#hometext a {
	/* All inner text */
	margin: 3rem;
	color: #1ccad8;
}

div#hometext a:hover {
	/* Main text (links) hover */
	color: #0cf574;
}

div#hometext > h1 {
	/* Inner big */
	font-size: 8rem;
}

div#hometext > h2 {
	/* Inner medium */
	font-size: 4rem;
}

div#hometext > p {
	/* Inner small */
	font-size: 2rem;
}

/* Page 2 - About Me */

div#aboutme {
	/* The polished about me page */
	top: -1px;
	height: calc(1px + 220vh);
	background-image: url('img/stacked-waves-haikei-aboutme.svg');
	overflow: hidden;
	width: 100%;
	position: relative;
}

hr#aboutHr {
	/* The horizontal rule */
	border: none;
	border-top: 5px dotted #1a201a;
	position: absolute;
	top: 40%;
}

h1.abouth1 {
	/* The big headers in each section */
	/*margin-bottom: 25px;*/
	text-align: center;
	position: relative;
	font-size: 6rem;
}
p#aboutProjectP {
	/* The project header text */
	text-align: center;
	font-size: 2.4rem;
	margin: 20px;
	margin-bottom: 20px;
}
div#aboutme > div > p {
	/* Little Things header text */
	position: relative;
	font-size: 2.4rem;
	margin: 20px;
}

div#aboutme > div.section > div.wrapper {
	/* Text wrapper */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

div#aboutme > div.section > div.wrapper > p {
	/* Paragraph in about me text section */
	padding: 2rem;
	font-size: 3.3rem;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Not images */

div#aboutme > div.section {
	/* the 2 sections */
	position: absolute;
	width: 45%;
	min-width: min(750px, 90vw); /* css has min and max??? 🤯 */
	left: 50%;
	transform: translateX(-50%);
	height: 35%;
}

div#aboutme > div.section:nth-of-type(2) {
	/* The second section*/
	display: flex;
	flex-direction: column;
	height: 55%;
	top: 40%;
	padding: 5% 5%;
}

div#projects {
	/* Stores project cards */
	width: 100%;
	height: 100%;
	display: table;
	padding-bottom: 5%;
	margin-top: calc(5rem - 2%);
}

div#projects > div.project-row {
	/* Each row of cards (horizontal) */
	position: relative;
	display: table-row;
}

div#projects > div.project-row > div.project-cell {
	/* Each individual card */
	transition: transform 0.5s ease-in-out;
	display: table-cell;
	position: relative;
  backface-visibility: hidden;
}

/* cards */

div.project-card {
	/* Outer card container */
	position: absolute;
	top: 2%;
	right: 2%;
	bottom: 2%;
	left: 2%;
	border-radius: 2.5rem;
	background-color: #1a201a;
	border: 5px solid #1a201a;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px 4px; /*color inset shift blur radius */
}

div.project-card:hover {
	/* Card hover action */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 32px 8px;
}
div.project-card:hover h1.project-desc {
	/* Text on card hover (Keeps the text from moving) */
	padding: 2%;
}
div.project-card:hover > div.card-bot {
	/* Bottom when card hover */
	background-color: #0cf574;
}
div.project-card:hover p.project-date {
	/* Project date when card hover */
	color: #0cf574;
}

div.project-card > div {
	/* The two sections of each card */
	position: absolute;
	width: 100%;
	height: 50%;
	border-radius: 2rem;
	background-color: #1a201a;
}

div.project-card > div.card-top {
	/* The top section of the card */
	top: 0;
}

div.project-card > div.card-bot {
	/* The bottom section of the card */
	top: 50%;
	background-color: #1ccad8;
}
div.project-cell:nth-child(2) > div.project-card > div.card-top {
	/* The flipped top section */
	top: 50%;
}
div.project-cell:nth-child(2) > div.project-card > div.card-bot {
	/* The flipped bottom section */
	top: 0;
}

div.project-cell:nth-child(2) > div.project-card p.project-date {
	/* Reposition date if card is flipped */
	bottom: 0;
}

p.project-date {
	/* The text that has the date of event */
	position: absolute;
	right: 0;
	margin: 2.5rem;
	font-size: min(3rem, 24px); /*DATE TODO*/
	color: #1ccad8;
}

h1.project-desc {
	/* The quick description of the event */
	position: absolute;
	margin: 1rem;
	font-size: min(2.5rem, 20px);
}

/* Page 3 - My Work */

div#mywork {
	/* The page for my big projects */
	margin-top: -2px;
	background-image: url('img/stacked-waves-haikei-work.svg');
	position: relative;
	width: 100%;
	padding-bottom: 20px;
}

div#mywork > div#work-header {
	/* Stores the header for the page */
	padding-top: 7vh;
	text-align: center;
}

div#work-header h1:hover::after {
	/* Main header underline */
	width: 45%;
}

div#work-header > * {
	/* All header text (for animation) */
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

div#work-header > p {
	/* Work header text */
	font-size: 2.4rem;
	margin: 20px;
}

div#work-header > h1 {
	/* Work header header */
	font-size: 7rem;
}

div.work-item {
	/* Work card (generated with js) */
	height: 75vh;
	margin: 5rem 0;
	position: relative;
}

div.work-item > div.wrapper {
	/* Inner wrapper of each card */
	background-color: #1a201a;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	width: 50%;
	min-width: min(750px, 95vw);
	position: absolute;
	border-radius: 3rem;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 50px 10px; /*color inset shift blur radius */
}

div.work-item > div.wrapper.hover {
	/* Inner wrapper hover (Its a class because js dynamically hides the ul) */
	width: 90%;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 40px 100px 20px;
}

div.work-item > div.wrapper.hover > div.content div.challenge-wrapper {
	/* The ul with challenges and things I learned */
	display: block;
}

div.work-item > div.wrapper.hover > div.content div.info-wrapper p {
	/* Main text when hovered */
	font-size: 2.4rem;
	margin: 0;
}

div.work-item > div.wrapper > div.content div.info-wrapper p {
	/* Main text */
	margin: min(1rem, 30px);
	font-size: 2.6rem;
}

div.work-item > div.wrapper.hover > div.content div.info-wrapper h1 {
	/* Text header when hovered */
	color: #0cf574;
	border-bottom: 3px solid #0cf574;
}

div.work-item > div.wrapper > div {
	/* Each of the two sections of the card */
	position: absolute;
	top: 0;
	bottom: 0;
}

div.work-item > div.wrapper > div.content {
	/* The content section of the card */
	left: 0;
	right: 50%;
	padding: 2rem;
}

div.work-item > div.wrapper.flipped > div.content {
	/* Reverse order if its flipped */
	right: 0;
	left: 50%;
}

div.work-item > div.wrapper.flipped > div.space {
	/* Reverse order if its flipped */
	left: 0;
	right: 50%;
}

/* content */

div.work-item > div.wrapper > div.content > div.content-wrapper {
	/* Inner wrapper of the content section */
	width: 100%;
	height: 100%;
	position: relative;
}

div.work-item h1,
div.work-item p,
div.work-item li {
	/* Set text colour */
	color: #1ccad8;
}

div.content-wrapper h1 {
	/* Header with the name of the project */
	text-align: center;
	margin-bottom: 2rem;
	border-bottom: 3px solid #1ccad8;
}
/* info */
div.content-wrapper > div.info-wrapper > p,
div.content-wrapper > div.challenge-wrapper > ul {
	/* Text description of the project */
	font-size: 2.2rem;
	padding-left: 2rem;
}
div.content-wrapper > div.info-wrapper > h1,
div.content-wrapper > div.challenge-wrapper > h1 {
	/* Info wrapper header */
	font-size: 3.4rem;
}
/* challenge */
div.content-wrapper > div.challenge-wrapper {
	/* Stores the challenges that I faced */
	display: none;
	position: absolute;
	bottom: 0;
}

div.content-wrapper > div.challenge-wrapper li {
	/* Challenge list items */
	margin: 1rem 0;
}

/* space */

div.work-item > div.wrapper > div.space > div.space-wrapper {
	/* Space / img section */
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.work-item > div.wrapper > div.space > div.space-wrapper > img {
	/* Image inside work item */
	max-width: 100%;	
	max-height: 100%;
}

div.work-item > div.wrapper > div.space {
	/* The space/img section of the card */
	right: 0;
	left: 50%;
	padding: 2rem;
}

div.work-item > div.wrapper > div.space  * {
	/* Images and content of item */
	border-radius: 2rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}


/* Page 4 - Contact Me */

div#contact {
	/* Contact me page */
	margin-top: -1px;
	background-color: #1a201a;
	border-top: 5px solid #1ccad8;
	z-index: 5;
	width: 100%;
	height: max(400px, 60vh);
	position: relative;
}

/* Text */

div#textwrapper {
	/* Text info container */
	position: absolute;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	display: grid;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 45%;
	min-width: min(750px, 90vw);
}
div#textwrapper > * {
	margin: 4rem;
}

div#textwrapper h1,
div#textwrapper p:not(.copied),
div#textwrapper a {
	/* Default text colour */
	color: #1ccad8;
}

div#textwrapper > div.contact.header {
	/* Header section */
	text-align: center;
	grid-row: 1;
	grid-column: 1 / span 2;
}

div#textwrapper > div.contact.header > h1 {
	/* Text header */
	color: #0cf574;
	border-bottom: 3px solid #0cf574;
	border-radius: 3px;
	font-size: 4rem;
}

div#textwrapper > div.contact.soc::before {
	/* Text divider */
	content: '';
	background-color: #0cf574;
	width: 3px;
	border-radius: 2px;
	top: 50%;
	transform: translateY(-50%);
	transition: All 0.2s;
	height: 70%;
	left: -4rem;
	position: absolute;
}

div#textwrapper > div.contact.emails {
	/* Email section */
	margin-bottom: 0;
	grid-row: 2;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div#textwrapper > div.contact h1 {
	/* Section headers */
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

div#textwrapper > div.contact p.email:hover:not(.copied) > a,
div#textwrapper > div.contact p.phone:hover:not(.copied) {
	/* Email and phone hover */
	color: #0cf574 !important;
	text-decoration-color: #0cf574;
}
p.email > a,
p.phone {
	/* Email and phone number */
	text-decoration: underline;
	margin-left: 2rem;
	text-decoration-color: rgba(0, 0, 0, 0); /* So that it still transitions */
	width: max-content;
	transition: 0.25s all;
}
p.copied,
p.copied:hover {
	/* Copied email or phone number */
	color: #1a201a;
	box-shadow: inset 0 min(-3.4rem, -21px) 0 0 #0cf574; /* very noice */
}

div#textwrapper > div.contact p {
	/* Section text (really just the emails) */
	font-size: 2.5rem;
}

/* socials */

div#textwrapper > div.contact.soc {
	/* Socials section */
	text-align: center;
	grid-row: 2;
	grid-column: 2;
	position: relative;
}

div#social-wrapper {
	/* Container of the three socials */
	position: absolute;
	top: 50%;
	left: 10%;
	right: 10%;
	transform: translateY(-50%);
	display: grid;
}

a.socials {
	/* Each social link (done by js) */
	margin-left: 50%;
	transform: translateX(-50%);
	grid-row: 1;
}

svg.socials {
	/* Social icons */
	transition: all 0.25s ease-in-out, transform 0.5s ease-in-out;
	width: 10rem;
	height: 10rem;
}

svg.socials:hover {
	/* Social icon hovers */
	transform: rotate(360deg);
}
svg.socials path.blue {
	/* Default social colour */
	fill: #1ccad8;
}
svg.socials:hover path.blue {
	/* Social hover colour */
	fill: #0cf574;
}
