* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

div.container {
	background-color: orange;
}

div.page {
	z-index: -1;
	width: 100%;
}

div.header.container {
	position: sticky;
	top: 0;
}

div.header > div#stickyContainer {
	background-color: aqua;
	display: table;
	position: absolute;
	top: 0;
	width: 100%;
}

div#stickyContainer > div.wrapper {
	background-color: blueviolet;
	display: table-cell;
	vertical-align: middle;
	width: 10%;
	min-width: 150px;
}
div#stickyContainer > div.wrapper > p {
	text-align: left;
	margin-left: 30px;
	top: 0;
}

div#buttonContainer {
	display: table;
	background-color: chartreuse;
	float: right;
	width: 40%;
}
div#buttonContainer > div.wrapper {
	display: table-cell;
}

div#buttonContainer > div > p > a {
	text-align: center;
	display: block;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}

a {
	text-decoration: none;
	color: black;
}
