/* Colours */
/* https://coolors.co/8aea92-80ada0-5f5566-33202a-000000 */
/* https://coolors.co/fffcf2-ccc5b9-403d39-252422-eb5e28 */

/* General */

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: black;
}

div.page {
	z-index: -2;
	width: 100%;
}

/* Header */

div#sticky {
	z-index: 2;
	position: sticky;
	top: 0;
}

div#sticky > div#stickyContainer {
	background-color: #1f261f;
	position: absolute; /* so it wont take space */
	display: table;
	width: 100%;
}

/* Name */

div#stickyContainer > div#namewrapper {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	min-width: 150px;
}

div#namewrapper > p {
	text-align: center;
	color: #8aea92;
	font-weight: bolder;
}

/* Buttons */

div#buttonContainer {
	display: table;
	float: right;
	padding: 25px 0;
}
div#buttonContainer > div.wrapper {
	display: table-cell;
}

div#buttonContainer > div.wrapper > p > a {
	display: block;
	color: #8aea92;
	padding: 8px 18px;
	font-weight: bolder;
}

/* Page 1 - Home */
/* Text box */

div#hometext {
	background-color: #1f261f;
	position: absolute;
	margin-top: 189px;
	margin-left: 150px;
	border-radius: 20px;
}

div#hometext > * {
	margin: 30px;
	color: #8aea92;
}

div#hometext > h1 {
	font-size: 80px;
}

div#hometext > h2 {
	font-size: 40px;
}

div#hometext > p {
	font-size: 20px;
}

/* Page 2 - About Me */

div#aboutcontainer {
	display: table;
	width: 100%;
	height: 100%;
}

h1.abouth1 {
	font-size: 50px;
}

div#aboutcontainer > div.section > div.wrapper {
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 50%;
}

div#aboutcontainer > div.section > div.wrapper > p {
	font-size: 28px;
}

div#aboutcontainer > div.section {
	display: table-cell;
	position: relative;
	width: 50%;
	height: 90%;
}

div#aboutcontainer > div.section + div.section {
	padding: 5% 5%;
}

div#projects {
	width: 100%;
	height: 100%;
	display: table;
}

div#projects > div.project-row {
	display: table-row;
}

div#projects > div.project-row > div.project-cell {
	display: table-cell;
	position: relative;
}
/* cards */
div.project-card {
	position: absolute;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	border-radius: 20px;
	background-color: red;
}

div.project-card:hover {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

div.project-card > div {
	position: absolute;
	width: 100%;
	height: 50%;
	border-radius: 20px;
}

div.project-card > div.card-top {
	top: 0;
	background-color: red;
}

div.project-card > div.card-bot {
	top: 50%;
	background-color: yellow;
}
div.project-cell:nth-child(2) > div.project-card > div.card-top {
	top: 50%;
}
div.project-cell:nth-child(2) > div.project-card > div.card-bot {
	top: 0;
}

p.project-date {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	font-size: 12px;
}

h1.project-desc {
	position: absolute;
	margin: 10px;
	font-size: 15px;
}

/* Page 3 - My Work */
/* Page 4 - Contact Me */

div.footer {
	z-index: -2;
	width: 100%;
	height: 500px;
	position: relative;
}

div#contact > div.wrapper {
	position: relative;
	height: 100%;
	width: 50%;
	background-color: red;
}

div#textwrapper {
	background-color: orange;
	position: absolute;
	height: 100%;
	width: 50%;
	left: 50%;
	top: 0;
}

div#formwrapper {
	background-color: coral;
	position: absolute;
	bottom: 10%;
	left: 10%;
	right: 10%;
	top: 10%;
}

div#formwrapper > form {
	display: grid;
	position: absolute;
	top: 3%;
	bottom: 3%;
	left: 1%;
	right: 1%;
	/* background-color: darkred; */
}

form > input,
form > textarea {
	margin: 10px;
	padding: 10px;
	border: none;
	outline: none;
}

form > h1 {
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	margin-bottom: -10px;
}

form > label.row1 {
	grid-row: 2;
	padding-left: 10px;
}

form > label {
	margin-bottom: -20px;
}

input#firstname,
input#lastname,
input#contactinfo {
	grid-row: 3;
}

form > label#messagelabel {
	grid-row: 4;
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
}

form > textarea#message {
	resize: none;
	grid-row: 5;
	grid-column-start: 1;
	grid-column-end: 4;
}

form > input#submit {
	grid-row: 6;
	grid-column-start: 1;
	grid-column-end: 4;
}
